/*
# Typography

This system uses [Fluid typography](https://www.smashingmagazine.com/2016/05/fluid-typography/).
*/

html {
  font-family: $font-family;
  font-size: calc(#{$min-font-size}px + (#{$max-font-size} - #{$min-font-size}) * (100vw - 500px) / (1500 - 500));
  line-height: 1.6;
}

@media(max-width: 500px) {
  html {
    font-size: #{$min-font-size}px;
  }
}

@media(min-width: 1500px) {
  html {
    font-size: #{$max-font-size}px;
  }
}

/*
## Font-family for code
*/
code,
.code {
  font-family: monospace;
}

/*
## Headings

```example
<div class="h1">h1 or .h1</div>
<div class="h2">h2 or .h2</div>
<div class="h3">h3 or .h3</div>
<div class="h4">h4 to h6</div>
```
*/

h1,
.h1 {
  font-size: 3.3em;
  line-height: 1.3;
  font-weight: bold;
}

h2,
.h2 {
  font-size: 1.8em;
  line-height: 1.45;
  font-weight: bold;
}

h3,
.h3 {
  font-size: 1.3em;
  font-weight: bold;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-weight: bold;
}

/*
## Lists

```example

<h3>Default lists</h3>
<div class="grid">
  <div class="col col--md-6">
    <ul>
      <li>Chungus
        <ul>
          <li>Oh lawd</li>
          <li>He comin'</li>
        </ul>
      </li>
      <li>Chonk</li>
      <li>Boi</li>
      <li>Speedy boi</li>
    </ul>
  </div>
  <div class="col col--md-6">
    <ol>
      <li>Chungus
        <ol>
          <li>Oh lawd</li>
          <li>He comin'</li>
        </ol>
      </li>
      <li>Chonk</li>
      <li>Boi</li>
      <li>Speedy boi</li>
    </ol>
  </div>
</div>

<h3 class="margin-top">.list-simple</h3>
<ol class="list-simple">
  <li>Just a list</li>
  <li>With semantics but nothing more</li>
</ol>

*/

ul {
  margin-left: 1em;
}

ol {
  counter-reset: section;
  list-style-type: none;

  ol {
    margin-left: 1em;
  }

  li {

    &:before {
      counter-increment: section;
      content: counters(section, ".")". ";
      font-feature-settings: 'tnum';
    }
  }
}

.list-simple {
  margin-left: 0;
  list-style: none;
  counter-reset: none;

  li:before {
    content: none;
  }
}

/*
## Sizings

Be advised that using `.small` and `.big` will change not only text sizes, but also other metrics, as they often are based on `em` sizes. If you need to change only font size you might need to wrap the text in a `<span>` element.

```example
<div class="small">Small</div>
<div class="big">Big</div>
<div class="bigger">Bigger</div>
<div class="small bordered">
  <div>Small</div>
  <div class="big">Big in small (Don't use unless specifically needed)</div>
  <div class="size-reset">Size-reset in small</div>
</div>
```
*/

.small {
  font-size: .75em;


  @media (max-width: $md) {
    font-size: .85em;
  }
}

.big {
  font-size: 1.5em;
}

.bigger {
  font-size: 2em;
}

.size-reset {
  font-size: 1rem;
}

/*
## Helper classes

```example
<div class="text-center">
  <h3>.text-center</h3>

  <div>Parturient parturient a mollis vulputate himenaeos consectetur vestibulum phasellus gravida quam iaculis aenean suspendisse parturient metus odio taciti parturient hac ac a aliquam class quis a.</div>
</div>

<hr class="margin-top margin-bottom">

<div class="text-justified">
  <h3>.text-justified</h3>
  <div>Parturient parturient a mollis vulputate himenaeos consectetur vestibulum phasellus gravida quam iaculis aenean suspendisse parturient metus odio taciti parturient hac ac a aliquam class quis a.</div>
</div>

<hr class="margin-top margin-bottom">

<div class="text-right">
  <h3>.text-right</h3>
  <div>Parturient parturient a mollis vulputate himenaeos consectetur vestibulum phasellus gravida quam iaculis aenean suspendisse parturient metus odio taciti parturient hac ac a aliquam class quis a.</div>
</div>

<hr class="margin-top margin-bottom">

<div class="text-left">
  <h3>.text-left</h3>
  <div>Parturient parturient a mollis vulputate himenaeos consectetur vestibulum phasellus gravida quam iaculis aenean suspendisse parturient metus odio taciti parturient hac ac a aliquam class quis a.</div>
</div>

<hr class="margin-top margin-bottom">

<span class="b">b, .b or .bold</span>;
<span class="i">i, .i or .italic</span>;
<span class="shadow-text white-text">.shadow-text</span>

```
*/

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-justified {
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.bold,
b,
.b {
  font-weight: bold;
}

.italic,
i,
.i {
  font-style: italic;
}

.shadow-text {
  text-shadow: 1px 1px #000;
}
