html {
  font-family: $font-family;
  font-size: calc(16px + (23 - 16) * (100vw - 500px) / (1500 - 500));
  line-height: 1.6;
}

@media(max-width: 500px) {
  html {
    font-size: 16px;
  }
}

@media(min-width: 1500px) {
  html {
    font-size: 23px;
  }
}

h1,
.h1 {
  font-size: 3.3em;
  line-height: 1.3;
}

h2,
.h2 {
  font-size: 1.8em;
  line-height: 1.45;
}

.small {
  font-size: .75em;


  @media (max-width: $md) {
    font-size: .85em;
  }
}

.center-text {
  text-align: center;
}
