/*
# Variables

The easiest way to restyle the system is by changing following variables.

## Colors
*/

$primary: #4661D2 !default;
$secondary: #2CE6B7 !default;
$black: #000 !default;
$gray: #666 !default;
$white: #fff !default;

/*
If you add more colors than primary/secondary, please also update the following so they will generate text/background classes.
*/

$colors: ("primary" : $primary,
  "secondary" : $secondary,
  "black" : $black,
  "gray" : $gray,
  "white" : $white) !default;

/*
## Font

This system uses [Fluid typography](https://www.smashingmagazine.com/2016/05/fluid-typography/).
Check [typography](/typography) section to see how it is calculated.
*/
$font-family: 'Source Sans Pro',
sans-serif !default;
$min-font-size: 16 !default;
$max-font-size: 23 !default;

/*
## Grid

Basic grid metrics. Note that some paddings are based on gap size.
*/
$columns: 12 !default;
$gap: 1rem !default;
$gap-sm: .75em !default;

/*
## Breakpoints

You can change the metrics to pixels if you really want but I would adivse against it.
If you add more breakpoints, don't forget to add it to the following list so it will generate related grid items.
*/
$md: 40rem !default;
$lg: 70rem !default;
$breakpoints: (sm 0em $md $gap-sm,
  md $md $lg $gap,
  lg $lg 100vh $gap) !default;

/*
## Minor helper variables
Use those to assure that metrics will be more or less consistent across the board.
*/

$border-radius: .3em !default;
$box-shadow: 0 .3em .7em rgba(0, 0, 0, .4) !default;

$input-padding-vertical: .7em !default;
$input-padding-horizontal: 1.5em !default;
$input-padding: $input-padding-vertical $input-padding-horizontal !default;
