$primary: #4661D2;
$secondary: #2CE6B7;
$black: #000;
$white: #fff;

$colors: ("primary" : $primary,
  "secondary" : $secondary,
  "black" : $black,
  "white" : $white);


$font-family: sans-serif;

$columns: 12;
$gap: 1rem;
$gap-sm: .75em;
$header-height: 6rem;
$header-height-mobile: 8rem;

$md: 40rem;
$lg: 70rem;
$breakpoints: (sm 0em $md $gap-sm,
  md $md $lg $gap,
  lg $lg 100vh $gap);

$border-radius: .3em;
$box-shadow: 0 .3em .7em rgba(0, 0, 0, .4);

$input-padding-vertical: .7em;
$input-padding-horizontal: 1.5em;
$input-padding: $input-padding-vertical $input-padding-horizontal;
