$primary: #4661D2;
$secondary: #2CE6B7;

$font-family: sans-serif;

$gap: 1.7rem;
$header-height: 6rem;
$header-height-mobile: 8rem;

$md: 40rem;
$lg: 60rem;
$breakpoints: (sm 0em $md,
  md $md $lg,
  lg $lg 100vh);

$border-radius: .3em;
$box-shadow: 0 .3em .7em rgba(0, 0, 0, .4);

$input-padding-vertical: .7em;
$input-padding-horizontal: 1.5em;
$input-padding: $input-padding-vertical $input-padding-horizontal;
