/*
# Buttons

```example
<div class="toolstrip flex--column">
  <button>Unstyled button</button>
  <button class="btn">.btn</button>
  <button class="btn btn--sec">.btn.btn--sec</button>
</div>
```
*/

button,
.btn {
  cursor: pointer;
}

.btn {
  background-color: $secondary;
  padding: $input-padding;
  border-radius: $border-radius;
  min-width: 15em;
  transition: background-color .2s, color .2s, opacity .2s, box-shadow .1s;
  text-align: center;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  box-shadow: inset 0 0 0 #fff;

  &:hover {
    background-color: lighten($secondary, 20%);
  }

  &:active {
    box-shadow: inset 0 0 0 4px #fff;
  }

  &[disabled] {
    color: #fff;
    pointer-events: none;
    background: desaturate($secondary, 100%);
  }
}

.btn {
  &--sec {
    background-color: #fff;
    color: $secondary;
    border: 2px solid $secondary;
    box-shadow: inset 0 0 0 $secondary;

    &[disabled] {
      color: desaturate($secondary, 100%);
      pointer-events: none;
      background: #fff;
    }

    &:hover {
      color: $secondary;
      background-color: #fff;
      opacity: .5;
    }

    &:active {
      box-shadow: inset 0 0 0 4px $secondary;
    }
  }
}

.btn {
  &--ghost {
    background-color: transparent;
    color: $primary;
    border: $primary;
    transition: background-color .2s, color .2s, opacity .2s;

    &[disabled] {
      color: desaturate($secondary, 100%);
      border-color: desaturate($secondary, 100%);
      pointer-events: none;
    }

    &:hover {
      color: $primary;
      opacity: .5;
    }
  }
}
