/*
# Select element

```example
<select class="select">
  <option value="">Choose item</option>
  <option value="1">Item 1</option>
  <option value="2">Item 2</option>
</select>
```
*/

.select {
  display: block;
  font-size: inherit;
  font-family: inherit;
  font-weight: normal;
  color: inherit;
  line-height: inherit;
  padding: $input-padding-vertical 2.6em $input-padding-vertical $input-padding-horizontal;
  width: 100%;
  max-width: 100%;
  border-bottom: 2px solid $black;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cpath d='M88.222 29.667L50 59.741 11.778 29.667l-2.44 5.342L50 75.432l40.662-40.423z'/%3E%3C/svg%3E") no-repeat right .7em top 50% / 1.2em auto;
  transition: border-color .2s, color .2s;

  &::-ms-expand {
    display: none;
  }

  &:hover {
    border-color: $secondary;
  }

  option {
    font-weight: normal;

    &:not([value]),
    &[value=""] {
      color: lighten($black, 40);
    }
  }
}
